.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #3f51b5;
}

.card {
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* flex-direction: column; */
}

button {
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
